@import '@styles/variables.scss';

.nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;

	#{&}-link {
		display: block;
		color: $text-color;
		padding: 8px 13px;
		border-radius: $common-radius;
		cursor: pointer;
		text-decoration: none;
	}
}
