@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $btn-light-text-color;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
	white-space: nowrap;
	outline: 0 !important;
    border: 0;
    border-radius: 3px;
    @include anchorBasic;

    &#{&}-primary {
        background-color: $primary-color;
        &:active {
            background-color: lighten($primary-color, 10);
        }
        &:disabled {
            background-color: lighten($primary-color, 13%);
        }
    }

    &#{&}-secondary {
        background-color: $secondary-color;
        &:active {
            background-color: lighten($secondary-color, 10);
        }
        &:disabled {
            background-color: lighten($secondary-color, 13%);
        }
    }

    &#{&}-success {
        background-color: $success-color;
        &:active {
            background-color: lighten($success-color, 10);
        }
        &:disabled {
            background-color: lighten($success-color, 13%);
        }
    }

    &#{&}-danger {
        background-color: $danger-color;
        &:active {
            background-color: lighten($danger-color, 10);
        }
        &:disabled {
            background-color: lighten($danger-color, 13%);
        }
    }

    &#{&}-warning {
        background-color: $warning-color;
        &:active {
            background-color: lighten($warning-color, 10);
        }
        &:disabled {
            background-color: lighten($warning-color, 13%);
        }
    }

    &#{&}-info {
        background-color: $info-color;
        &:active {
            background-color: lighten($info-color, 10);
        }
        &:disabled {
            background-color: lighten($info-color, 13%);
        }
    }

    &#{&}-block {
        display: flex;
        width: 100%;
    }

    &#{&}-outline {
        background-color: transparent;
        color: $primary-text-color;
        border: 2px solid $primary-border-color;
        transition: background-color 150ms ease-out, color 150ms ease-out;

        &:not(:disabled):hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

    &:not(#{&}-outline) {
        transition: box-shadow 150ms ease-out;

        &:not(:disabled):hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }
    }

    &#{&}-xs {
        font-size: 13px;
        padding: 3px 5px;
    }

    &#{&}-sm {
        padding: 5px 10px;
    }

    &#{&}-lg {
        font-size: 20px;
        padding: 15px 20px;
    }
    
   &.loading {
        color: transparent;
    }

    &:disabled {
        background-color: #fcfcfc;
    }

    .spinner {
        position: absolute;
        
        div {
            background-color: #fff !important;
        }
    }
}