@import "tags-override.scss";
@import "layout.scss";

.main {
    position: relative;
    margin: 90px;
    min-height: calc(100vh - 180px);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}