$primary-color: #2A2525;
$secondary-color: #B92C6B; 
$primary-border-color: #2A2525;
$primary-text-color: #2A2525;
$danger-color: #ff4c60;
$info-color: #6c6ce5;
$success-color: #51dabb;
$warning-color: #ffd15c;
$bg-color: #fff;
$bg-color-dim: #F5F5F5;
$bg-color-dark: #000;
$bg-color-dark-dim: #63646a;
$text-color-dark: #bbbcc4;
$text-color: #858585;
$title-text-color: #5f5f5f;
$btn-light-text-color: #fff;
$btn-dark-text-color: #000;
$star-rating-color: #f6d797;
$cool-color: #96969d;
$common-radius: 5px;
$section-pad: 60px;
$client-header-height: 90px;
$client-footer-height: 434px;
$disabled-color: #e8e8e8;